Body {
    /* Hintergund der Weseiten, breite, ausrichtung und Schriftart*/
    background: url("../Bilder/bg.png");
    font-family: sans-serif;
    /*width: 800px;  */
    text-align: center;
    margin: 0%;
}

p,
i,
a,
small,
ul,
li {
    font-size: 21px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 23px;
}

video {
    width: 650px;
    height: 400px;
}

.Mynav {
    background-color: gray;
    overflow: hidden;
}

#Panorama {
    width: 1150px;
    height: 300px;
}

img {
    width: 150px;
    height: 200px;
}

#Icon {
    width: 30px;
    height: 30px;
}

#Losgehts {
    width: 50px;
    height: 50px;
}


/* Navigation an die rechte seite der Wesite heften */

.Mynav a {
    float: right;
    color: white;
    text-align: right;
    padding: 10px 12px;
    border-bottom: 5px;
    text-decoration: none;
    font-size: 21px;
}


/* Farbe der Navigation wenn man drüber fährt*/

.Mynav a:hover {
    background-color: blueviolet;
    color: black;
}


/* Aktuelle Navigation (Link) hervorheben*/

.Mynav a.active {
    background-color: blueviolet;
    color: white;
}


/* Überschrift des Kontakzformulars*/

#KontaktÜberschrift {
    text-align: left;
    color: blueviolet;
}


/* Kontaktformular anhand des Box Modells */

form {
    background-color: grey;
    width: 370px;
    padding: 20px;
    border: 1px solid gray;
}

label {
    display: block;
    cursor: pointer;
    text-align: left;
}

input {
    width: 300px;
    border: 1px solid;
    margin-bottom: 1em;
}

textarea {
    height: 7em;
    text-align: left;
}


/* Liste mit ID bearbeitet*/

#Liste {
    list-style: square;
    list-style-position: inside;
}

#Liste2 {
    list-style: none;
}


/* Überschriften und Links mit Farbe versehen*/

h1,
h2,
h3 {
    color: gray;
}

a {
    color: blueviolet;
}


/* Animation und Transitions hinzugefügt*/

div.slideintext {
    overflow: hidden;
}

div.slideintext>p {
    transition: color 3s ease-in;
    color: blueviolet;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 200%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


/*Media Queris / Website responsiv machen*/

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    p,
    i,
    a,
    small {
        font-size: 18px;
    }
    video {
        width: 450px;
        height: 300px;
    }
    #Panorama {
        width: 750px;
        height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    p,
    i,
    a,
    small,
    ul,
    li,
    em,
    u,
    b {
        font-size: 14px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    video {
        width: 250px;
        height: 200px;
    }
    img {
        width: 150px;
        height: 200px;
    }
    div.img {
        width: 400px;
        height: 200px;
    }
    #Panorama {
        width: 350px;
        height: 100px;
    }
    form {
        background-color: grey;
        width: 325px;
        padding: 9px;
        border: 1x solid gray;
    }
}


/*Flussverhalten*/

div img {
    float: left;
}

div>b {
    display: block;
}

.flexbox>div {
    background-color: white;
    margin: auto;
    padding: initial;
}


/* Br Tags Zeilenumbruch */

div.Absätze {
    display: block;
}