Body {
/* Hintergund der Weseiten, ausrichtung und Schriftart*/
    background: url("../Bilder/bg.png");
    font-family: sans-serif;
    text-align: center;
    
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Navigation an die rechte seite der Wesite heften */
  .topnav a {
    float: right;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Farbe der Navigation wenn man drüber fährt*/
  .topnav a:hover {
    background-color: rgb(63, 70, 173);
    color: black;
  }
  
  /* Aktuelle Navigation (Link) hervorheben*/
  .topnav a.active {
    background-color: blueviolet;
    color: white;
  }

 